
<footer class='footer-section'>
    <div class="menu">

    </div>
    <div class="address">
        <address>
            Temple Street,
            Fan Milk Junction,
            Ablekumah,
            Accra Ghana
        </address>
    </div>
    <div class="socials">
        <span>facebook</span>
        <span>linkedIn</span>
        <span>Whatsapp</span>
        <span></span>
    </div>
    
</footer>
