    <nav class="">
        <div class="nav-container">
            <div class="logo-image">
                <img src="/src/asset/isulogo5.jpg" alt="logo image">
            </div>
            <div class="menu-items">
                <ul class="list">
                    <a href="/"><li>HOME</li></a>
                    <a href="/about/"><li>ABOUT US</li></a>
                    <a href="/projects/"><li>PROJECTS</li></a>
                    <a href="/reviews/"><li>REVIEWS</li></a> 
                    <a href="/contact/"><li>CONTACT</li></a>
                    <a href="/all_articles/"><li>BLOG</li></a>               
                </ul>
            </div>
            <div class="theme-icon">
                <span class="material-symbols-outlined">dark_mode</span>
            </div>
        </div>
    </nav>