---
title: Eleventy Test
layout: homepagelayout.njk
---


    <section class="hero">
        <div class="section-image">
            <img src="./asset/background6.jpg" alt="">
        </div>
        <div class="cto">
            <div class="small-test-mesaging">
                <p>CODING IS THE FUTURE</p>
            </div>
            <div class="banner-message">
                <p>LET'S EXPLORE THE WORLD OF CODING WITH EXCITING PEOPLE</p>
            </div>
            <div class="mini-banner">
                <p><Label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, odio.</Label></p>
            </div>
            <div class="buttons">
                <a href="#" class="btn1">Explore More</a>
                <a href="#" class="btn2">Learn More</a>                
            </div>
        </div>
    </section>


    

